.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    border-right: 1px solid lightgrey;
    margin-right: 5px;
    margin-left: 50px;
}
.cart-container{
    background-color: rgb(187, 187, 187);
    height: 420px;
}
